{% extends "base_admin.html" %}
{% block title %}Inicio{% endblock %}
{% block custom_css %}
<style>
    .button-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 20px;
        margin-top: 20px;
    }

    .grid-button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        background-color: #007bff;
        color: white;
        text-decoration: none;
        border-radius: 10px;
        font-size: 18px;
        transition: background-color 0.3s ease;
    }

    .grid-button:hover {
        background-color: #0056b3;
    }
    </style>
{% endblock %}
{% block header %}Inicio{% endblock %}
{% block content %}
<main>
    <h2>Bienvenido al Sistema de Supervisión de Evaluaciones</h2>
    <p>Este sistema utiliza inteligencia artificial para monitorear exámenes en tiempo real, analizando la actividad en pantalla y detectando posibles irregularidades.</p>
    <p>Para iniciar, selecciona una opción en el menú de navegación.</p>
    <div class="button-grid"></div>
        <a href="{{ url_for('usuarios_blueprint.viewUsuarios') }}" class="grid-button" style="background-color: #4CAF50;">Usuarios</a>
        <a href="{{ url_for('admin_blueprint.modelos') }}" class="grid-button" style="background-color: #FF9800;">Modelos de Predicción</a>
        <!--<a href="" class="grid-button" style="background-color: #FFC107;">Plantillas</a>-->
        <a href="{{ url_for('admin_blueprint.nuevo_examen') }}" class="grid-button" style="background-color: #F44336;">Nuevo Examen</a>
    </div>
</main>
{% endblock %}
{% block custom_js %}    
{% endblock %}
