{% extends "base_admin.html" %}
{% block title %}Restablecer Contraseña{% endblock %}
{%block custom_css%}
{%endblock%}
{% block header %}Restablecer Contraseña{% endblock %}
{% block content %}

<h4 class="card-title mb-0">{{usuario.username}}
</h4>
{% with messages = get_flashed_messages() %}
{% if messages %}
<br />
{% for message in messages %}
<div class="alert alert-success alert-dismissible" role="alert">
    <strong>{{ message }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}

{% endwith %}
<form action="" autocomplete="off" id="form-newUSer" method="post">
    <div class="mb-3">
        <label for="password" class="form-label">Contraseña Nueva*</label>
        <input type="password" class="form-control" minlength="6" name="password" id="password" aria-describedby=""
            placeholder="" required />
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-success">
            Guardar
        </button>

    </div>

</form>
</div>

{% endblock %}